{#
 # File: /src/template/page_templates/gdpr.twig
 # Project: starter_frontend_twig
 # Version: 1.1.5
 # Created Date: Monday, April 18th 2022, 15:05:23
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Monday, June 6th 2022 21:16:21
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2022 justDev
 #
 # gdpr
 #
 #}

{% extends '../_layout.twig' %}
{% set body_class = 'gdpr-page' %}
{% set elements = '../elements/' %}

{% block page %}
	{# Content #}
	{% include elements ~ '/content/_content.twig' with {
		ce: {
			title: 'Cookies',
			content: '<p>Donec massa eget egestas placerat. Eget gravida pharetra sagittis, egestas eget ut dictum nec commodo. Arcu egestas rhoncus non nisl. Faucibus imperdiet in faucibus eget sollicitudin nullam proin. Volutpat in amet, sollicitudin vel mauris bibendum. Leo elementum ultrices tincidunt faucibus turpis feugiat morbi eu. Nulla libero non neque in arcu. Pretium porta sed in viverra volutpat, id. Donec neque est morbi nec, ultrices libero, venenatis vulputate tincidunt. Dignissim quis vitae vel velit vitae iaculis morbi enim. Dictum accumsan eu, aliquam leo, fames iaculis. Non eu donec egestas egestas vel volutpat, commodo, sit nibh. Nec sodales accumsan id amet pellentesque vitae eu tempor, sed.</p><p>Euismod egestas id sapien aliquam. Morbi velit lectus semper facilisis orci odio cras. Sodales aenean sapien, hac pellentesque aliquam sed scelerisque venenatis feugiat. Senectus sed et est, metus, tristique cursus nibh neque nunc. Et cras pretium curabitur pellentesque nulla leo. Turpis at rhoncus, blandit blandit. Nisi posuere turpis sit dui vel vel morbi nunc. Odio lobortis mi fermentum eget dui urna. Molestie pulvinar ornare condimentum cursus. Sollicitudin in aliquet a lacus non elit id. Amet, dictumst auctor feugiat convallis id laoreet at nisi, id. Congue sed urna nunc id ut donec in bibendum.</p><p>Nunc, velit venenatis, et facilisi. Nibh nunc at nunc, morbi feugiat arcu ut. Dis sit eget sagittis, egestas sit facilisis ac ultrices consectetur. Ut quis ac blandit orci. Ut diam malesuada magna vulputate.</p><p>Lacus tempus malesuada aliquet at. Venenatis est sagittis, elementum egestas mauris. Tortor quis dolor eget adipiscing ut mi ipsum, morbi mi. Euismod tristique amet malesuada id diam in aliquet. Velit felis, vel lobortis at amet. Diam lobortis vel posuere phasellus nec felis velit porta. Malesuada mattis amet facilisis arcu proin quisque condimentum euismod in. Suspendisse imperdiet fringilla id amet pulvinar amet volutpat dui. Ac lobortis purus tortor eget accumsan hendrerit morbi. Lorem sed libero platea faucibus. Proin facilisi ultrices lectus sit dignissim. Sem sit adipiscing tristique tincidunt velit, volutpat.</p><p>At ultrices tempus fames imperdiet ultricies bibendum libero faucibus. Pretium ipsum sit amet urna nunc quis nullam quis. Etiam nullam duis ut morbi facilisi nec aliquam condimentum sollicitudin. Consectetur nunc diam nec a euismod viverra blandit velit nibh. At arcu id tortor tincidunt sapien vel. Pulvinar at vitae dui nibh vel faucibus morbi quis. Vitae hac sed quisque aliquam viverra cursus. Vitae tortor rutrum fames curabitur pellentesque. Pulvinar tellus mattis condimentum rhoncus, tellus. Molestie mi bibendum facilisi fermentum sed dignissim augue et cursus.</p><p>Vulputate in pulvinar semper volutpat, sem posuere fringilla sit sagittis. Scelerisque id vitae nibh pellentesque fringilla nisl, egestas augue. Cursus enim eu cras blandit tempor at amet. A nibh quam proin nulla augue. Elementum ultrices in habitant libero, enim. Urna sapien eu enim curabitur sed. Elementum lacinia hac cursus arcu vitae quam pellentesque habitant mi. Mauris id urna, id nibh sollicitudin semper nulla tellus. Ornare tortor, porttitor ac scelerisque ornare.</p><p>Tristique ornare sed ut sit. Suscipit pellentesque pellentesque viverra interdum varius. Vestibulum amet, massa vitae, nullam quis gravida vitae. Dignissim arcu risus neque pharetra praesent mauris mollis tristique cras. Turpis suspendisse faucibus eu amet, habitant dictumst amet ullamcorper. Vestibulum, tortor, nisi vestibulum lacus aliquam at cras iaculis.</p><p>Sodales sit libero, ullamcorper parturient ac elit lorem justo parturient. Nec lacus gravida semper vitae sit morbi. Congue dui pretium volutpat ridiculus sollicitudin vitae condimentum. Eget netus egestas urna hendrerit ac tellus nec molestie. Aliquam consectetur consequat, non pharetra, sit viverra nulla tempus, lorem. Mauris nec morbi fermentum amet fringilla. At a volutpat fermentum egestas dignissim aliquam sagittis. Semper egestas amet, eleifend sed netus feugiat. Amet quis hendrerit habitant at consectetur ut a tristique eget.</p><p>Massa nulla donec gravida amet, tincidunt pulvinar facilisi interdum ut. Facilisi rutrum viverra malesuada lacus ullamcorper a quam ultrices. Suscipit sed mollis mauris fusce sed magna. Sed dignissim eros, ullamcorper ultricies feugiat aliquam. Aliquet id commodo, commodo montes, pretium facilisi. Fermentum enim faucibus pellentesque convallis suspendisse lacus purus donec. Ultricies et ac egestas eget enim. Orci porttitor et integer purus est, in feugiat dictum. Venenatis viverra arcu sed sagittis. Mollis eu nam diam viverra aliquam. Eget dictum sociis sed donec porttitor. Quisque sagittis, proin non eget orci.</p><p>Praesent id nibh est aliquam tempus a. Orci nisi, et a mauris. Sit mattis senectus cursus vitae. Tristique pellentesque malesuada massa pharetra. Nunc lectus bibendum in scelerisque. Sit tellus tincidunt id pretium enim. Senectus et amet, senectus et egestas euismod tristique urna.</p>'
		}
	} %}
{% endblock %}
