{#
 # File: /src/template/page_templates/navigation.twig
 # Project: starter_frontend_twig
 # Version: 1.1.10
 # Created Date: Thursday, August 17th 2023, 15:17:47
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Saturday, August 26th 2023 12:55:36
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2023 justDev
 #}

{% extends '../_layout.twig' %}
{% set body_class = 'store-page' %}
{% set header_class = 'header--dark header--sticky' %}
{% set elements = '../elements/' %}

{% block page %}
	<section class="content-elements mb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>
						Pages
					</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="content-elements mb-5">
		<div class="container d-flex flex-column gap-1-half">
			{% for item in dataPages %}
				<div>
					<div class="row d-flex align-items-center">
						<div class="col-md-4 d-flex justify-content-between align-items-center">
							<span class="h4">{{ item.title }}</span>

							{% if item.status == 'Done' %}
								<div>
									<div class="alert alert-success d-flex align-items-center mb-0"
										role="alert">
										{{ item.status }}
									</div>
								</div>
							{% endif %}
						</div>
						<div class="col-md-8">
							{% if item.title == '404' %}
								<a href="/404.html" target="_blank" class="">/404.html</a>
							{% else %}
								<a href="{{ item.url }}" target="_blank" class="">{{ item.url }}</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
