{#
 # File: /src/templates/homepage.twig
 # Project: starter_frontend_twig
 # Version: 2.0.0
 # Created Date: Thursday, September 28th 2023, 14:11:08
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Thursday, September 28th 2023 14:27:49
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2023 justDev
 #}
{% extends '../layouts/main.twig' %}

{% block page %}
	<div class="container">
		{{ content }}
	</div>
{% endblock %}
