{#
 # File: /src/template/components/_checkbox.twig
 # Project: starter_frontend_twig
 # Version: 1.1.4
 # Created Date: Thursday, November 25th 2021, 9:19:38
 # Author: Kirill Dorozhynskyi - kirilldy@justdev.org
 # -----
 # Last Modified: Wednesday, February 9th 2022 22:35:10
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2022 justDev
 #
 # _checkbox
 #
 #}

<div class="form-check">
	<input type="checkbox" class="form-check-input" id="checkbox_{{ id }}" />
	<label class="form-check-label" for="checkbox_{{ id }}">{{ label }}</label>
</div>
