{#
 # File: /src/views/components/utils/forms/_checkbox.twig
 # Project: starter_frontend_twig
 # Version: 2.0.3
 # Created Date: Tuesday, October 3rd 2023, 17:34:51
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Tuesday, October 17th 2023 19:17:19
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2023 justDev
 #}

<div class="form-check">
	<input type="checkbox" class="form-check-input" id="checkbox_{{ id }}" />
	<label class="form-check-label" for="checkbox_{{ id }}">{{ label }}</label>
</div>
