{#
 # File: /src/template/elements/hero/_hero.twig
 # Project: starter_frontend_twig
 # Version: 1.1.10
 # Created Date: Saturday, June 5th 2021, 19:47:53
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Monday, June 12th 2023 12:05:08
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2023 justDev
 #
 # CE: Hero
 #
 #}

<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				{% if ce.title %}
					<h1>
						{{ ce.title }}
					</h1>
				{% endif %}
				{% if ce.text %}
					<p>
						{{ ce.text }}
					</p>
				{% endif %}
			</div>
			{% if ce.image %}
				<div class="col-md-6">
					<img data-src="{{ Image(ce.image) }}" class="w-100 h-auto lazy" />
				</div>
			{% endif %}
		</div>
	</div>
</section>
