{#
 # File: /src/template/elements/content/_content.twig
 # Project: starter_frontend_twig
 # Version: 1.1.5
 # Created Date: Monday, April 18th 2022, 15:11:24
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Monday, June 6th 2022 21:16:52
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2022 justDev
 #
 # _content
 #
 #}

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				{{ ce.content }}
			</div>
		</div>
	</div>
</section>
