{#
 # File: /src/views/templates/homepage.twig
 # Project: starter_frontend_twig
 # Version: 2.0.2
 # Created Date: Thursday, September 28th 2023, 14:11:08
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Monday, October 2nd 2023 13:28:35
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2023 justDev
 #}

{% extends layouts.default %}

{% block page %}
	<div class="d-flex"></div>
	{% if flexible %}
		{% for item in flexible %}
			{% include paths.components ~ '/flexible/' ~ item.name ~ '/_' ~ item.name ~ '.twig' with {
				ce: item
			} %}
		{% endfor %}
	{% endif %}
{% endblock %}
