.sprite-icon {
	width: 1em;
	height: 1em;
	fill: currentColor;
	line-height: 1;
}

.link-hover-underlined {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 1px;
		background-color: currentColor;
		bottom: -0.25rem;
		left: 50%;
		transition:
			width 0.3s ease 0s,
			left 0.3s ease 0s;
	}

	&:hover::after {
		width: 100%;
		left: 0;
	}
}

.link-underlined {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 1px;
		background-color: currentColor;
		bottom: 0;
		left: 50%;
		transition:
			opacity 0.3s ease 0s,
			left 0.3s ease 0s;
		width: 100%;
		left: 0;
	}

	&:hover::after {
		opacity: 0;
	}
}
